<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat page</title>
    <link rel="stylesheet" th:href="@{css/main.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            let separator = ":"

            $("#sendMessage").click(function () {
                let userName = [[${userName}]];
                let messageText = $("#message").val();
                console.log("start sending message: " + messageText);
                if (messageText === "") return;
                $.get('/message/send', { userName: userName, message: messageText}, function(data) {
                    console.log("message was sent");
                })
            })

            setInterval(function () {
                let userName = [[${userName}]];
                console.log("start getting messages for " + userName)
                $.get('/message/get', { userName: userName}, function(data) {
                    data.forEach(function(element) {
                        console.log(element)
                        let messageSplit = element.split(separator)
                        let sender = messageSplit[0]
                        let textMessage = messageSplit.slice(1, messageSplit.length).join(separator)

                        let newMessage = document.createElement("p")
                        if (sender === userName) {
                            newMessage.setAttribute("class", "right")
                        }
                        else {
                            newMessage.setAttribute("class", "left")
                        }

                        let text = document.createTextNode(textMessage)
                        newMessage.appendChild(text)
                        let messagesList = document.getElementById("messages")
                        messagesList.appendChild(newMessage)
                    })
                })
            }, 2000);
        });
    </script>
</head>
<body>
    <p>This is chat page</p>
    <h2 th:text="'Hello, ' + ${userName}"/>
    <div class="container">

        <div class="messages" id="messages">

        </div>

        <form onsubmit="return false;">
            <div>
                <input type="text" id="message" placeholder="type your message here.."/>
            </div>
            <button id="sendMessage">Send</button>
        </form>
    </div>
</body>
</html>