
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--    <link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/style.css">-->
</head>
<body>
<div>
<!--    <h3>${pageContext.request.userPrincipal.name}</h3>-->
<!--    <div sec:authorize access="!isAuthenticated()">-->
    <div sec:authorize="!isAuthenticated()">
        <h4><a href="/login">Войти</a></h4>
        <h4><a href="/registration">Зарегистрироваться</a></h4>
    </div>
    <div sec:authorize="isAuthenticated()">
<!--        <span th:text ="${#authentication.getPrincipal().getUsername()}"></span>-->
        <h2 th:text="'Hello, ' + ${#authentication.getPrincipal().getUsername()}"/>
<!--        <h4><a th:with="userName=${#authentication.getPrincipal().getUsername()}" href="/chat">Chat</a></h4>-->
        <h4><a href="/chat">Chat</a></h4>
        <h4><a href="/logout">Выйти</a></h4>
    </div>
    <h4><a sec:authorize="hasRole('ROLE_USER')" href="/news">Новости</a></h4>
    <h4><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Пользователи</a></h4>

</div>
</body>
</html>